<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Smart Agriculture IoT System Solution Providers">
  <meta name="keywords" content="Smart Agriculture, IoT">
  <meta name="author" content="Oshani Jayawardane">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>The Niwiti Project</title>
</head>