<%- include("partials/header.ejs") %>

    <body>
        <nav class="navbar">
            <div><h3>🌱</h3></div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <section class="banner">
            <div class="banner-content">
                <h2>The Niwiti Project</h2>
                <h3>Smart is the future of Agriculture</h3>
                <h4>A project by Autobee 🐝</h4>
            </div>
            <img src="images/image1.jpg" alt="Image">
        </section>
        <section class="section1">
            <h1 class="heading">What do we offer?</h1>
            <img src="images/image1.jpg" alt="Image">
            <div class="content">
                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                </h4>
            </div>
        </section>
        <h1 class="heading">Our Portfolio</h1>
        <section class="portfolio">
            <div>
                <img src="images/image1.jpg" alt="Image">
                <img src="images/image1.jpg" alt="Image">
                <img src="images/image1.jpg" alt="Image">
            </div>
        </section>
        <section class="section3">
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                </p>
            </div>
            <h1 class="heading">How can we help improve your business?</h1>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                </p>
            </div>
        </section>
    </body>

    <%- include("partials/footer.ejs") %>